<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CommonSetting</key>
	<dict>
		<key>Flags</key>
		<array>
			<string>FLAG_SGSPEECH</string>
		</array>
		<key>UMAnalyitcsKey</key>
		<string>53d71288fd98c5dc68005239</string>
		<key>CommonUpdateUrl</key>
		<string>http://mrd.changyou.com/tianlong3D/conf/notice/gengxin/iOS_Common_Notice.txt</string>
		<key>Frameworks</key>
		<array/>
		<key>CopyFiles</key>
		<dict>
			<key>CopyFiles/CYSDK/UnityAppController461.mm</key>
			<string>Classes/UnityAppController.mm</string>
			<key>CopyFiles/CYSDK/SDKHelper.mm</key>
			<string>Libraries/SDKHelper.mm</string>
		</dict>
		<key>SDKs</key>
		<array>
			<string>SougouSpeech</string>
		</array>
		<key>SettingFlags</key>
		<dict>
			<key>ARCHS</key>
			<string>armv7</string>
			<key>VALID_ARCHS</key>
			<string>armv7 armv7s</string>
			<key>GCC_ENABLE_OBJC_EXCEPTIONS</key>
			<string>YES</string>
			<key>DEBUG_INFORMATION_FORMAT</key>
			<string>dwarf</string>
		</dict>
	</dict>
	<key>ChannelConfig</key>
	<dict>
		<key>HM</key>
		<dict>
			<key>Flags</key>
			<array>
				<string>FLAG_UMANALYTICS</string>
				<string>FLAG_UMSOCIAL</string>
			</array>
			<key>ThirdAppID</key>
			<string>3001131411</string>
			<key>ThirdAppKey</key>
			<string>RTlCNUExMjM5MkJENkJDQjMwRDE4MzczMjhFN0IwODdDQTk1RjQxNk1UTTNNekUxTlRnNU5qTTVNamd5TWpJek1ERXJNakF4TlRnME1qZzVOakkzTURVeE5EVXlORGszT0RVMk5EY3pNakEwT0RjM05Ea3dPVEU1</string>
			<key>ChannelID</key>
			<string>3060</string>
			<key>PlistFile</key>
			<string>InfoPlist/InfoHM.plist</string>
			<key>iOSCodeSign</key>
			<string>iPhone Developer: guangyu hou (D652W35HCX)</string>
			<key>MediaChannel</key>
			<string>1011132002</string>
			<key>UpdateAppUrl</key>
			<string>itms-services://?action=download-manifest&amp;url=https://download.cy.com/tlbb3d/iOS_HM.plist</string>
			<key>ServerListUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/conf/serverlist/iOS_HM_IPList.txt</string>
			<key>ResDownloadUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/res/iOS/TY</string>
			<key>GengxinUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/conf/notice/gengxin/iOS_HM_Notice.txt</string>
			<key>IconFolder</key>
			<string>Normal</string>
			<key>OtherLDFlags</key>
			<array>
				<string>-ObjC</string>
			</array>
			<key>SDKs</key>
			<array>
				<string>Umeng</string>
				<string>CYSDKHelper</string>
				<string>CYSDK_HM</string>
			</array>
			<key>dylibs</key>
			<array>
				<string>libstdc++</string>
			</array>
			<key>Frameworks</key>
			<array>
				<string>MobileCoreServices</string>
				<string>IOKit</string>
				<string>CoreTelephony</string>
				<string>Security</string>
				<string>CoreGraphics</string>
				<string>QuartzCore</string>
				<string>SystemConfiguration</string>
				<string>AdSupport</string>
				<string>AudioToolbox</string>
				<string>UIKit</string>
				<string>Foundation</string>
			</array>
		</dict>
		<key>XY</key>
		<dict>
			<key>Flags</key>
			<array>
				<string>FLAG_UMANALYTICS</string>
				<string>FLAG_UMSOCIAL</string>
				<string>FLAG_XY</string>
				<string>FLAG_CYSCHEME</string>
			</array>
			<key>ThirdAppID</key>
			<string>100001657</string>
			<key>ThirdAppKey</key>
			<string>WEjh8POVWPZ8Mz7SnQtUU8AH5IoDE9od</string>
			<key>ChannelID</key>
			<string>3051</string>
			<key>PlistFile</key>
			<string>InfoPlist/InfoXY.plist</string>
			<key>iOSCodeSign</key>
			<string>iPhone Developer: guangyu hou (D652W35HCX)</string>
			<key>MediaChannel</key>
			<string>1011042002</string>
			<key>UpdateAppUrl</key>
			<string>itms-services://?action=download-manifest&amp;url=https://download.cy.com/tlbb3d/iOS_XY.plist</string>
			<key>ServerListUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/conf/serverlist/iOS_XY_IPList.txt</string>
			<key>ResDownloadUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/res/iOS/TY</string>
			<key>GengxinUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/conf/notice/gengxin/iOS_XY_Notice.txt</string>
			<key>CyUrlScheme</key>
			<string>cy-com.cyou.cx.mtlbb.xy</string>
			<key>IconFolder</key>
			<string>XY</string>
			<key>OtherLDFlags</key>
			<array>
				<string>-ObjC</string>
			</array>
			<key>SDKs</key>
			<array>
				<string>Umeng_NoWechat</string>
				<string>CYSDKHelper</string>
				<string>CYSDK_XY</string>
			</array>
			<key>dylibs</key>
			<array>
				<string>libsqlite3</string>
			</array>
			<key>Frameworks</key>
			<array>
				<string>UIKit</string>
				<string>MobileCoreServices</string>
				<string>Foundation</string>
				<string>CoreGraphics</string>
				<string>Security</string>
				<string>SystemConfiguration</string>
			</array>
		</dict>
		<key>XY1</key>
		<dict>
			<key>Flags</key>
			<array>
				<string>FLAG_UMANALYTICS</string>
				<string>FLAG_UMSOCIAL</string>
				<string>FLAG_XY</string>
				<string>FLAG_CYSCHEME</string>
			</array>
			<key>ThirdAppID</key>
			<string>100002417</string>
			<key>ThirdAppKey</key>
			<string>Z95cyOpyilhqoBBaF7s7UzmfbljPHWjl</string>
			<key>ChannelID</key>
			<string>3051</string>
			<key>PlistFile</key>
			<string>InfoPlist/InfoXY1.plist</string>
			<key>iOSCodeSign</key>
			<string>iPhone Developer: guangyu hou (D652W35HCX)</string>
			<key>MediaChannel</key>
			<string>1011042003</string>
			<key>UpdateAppUrl</key>
			<string>itms-services://?action=download-manifest&amp;url=https://download.cy.com/tlbb3d/iOS_XY1.plist</string>
			<key>ServerListUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/conf/serverlist/iOS_XY1_IPList.txt</string>
			<key>ResDownloadUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/res/iOS/TY</string>
			<key>GengxinUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/conf/notice/gengxin/iOS_XY1_Notice.txt</string>
			<key>CyUrlScheme</key>
			<string>cy-com.cyou.cx.mtlbb.xy1</string>
			<key>IconFolder</key>
			<string>XY</string>
			<key>OtherLDFlags</key>
			<array>
				<string>-ObjC</string>
			</array>
			<key>SDKs</key>
			<array>
				<string>Umeng_NoWechat</string>
				<string>CYSDKHelper</string>
				<string>CYSDK_XY</string>
			</array>
			<key>dylibs</key>
			<array>
				<string>libsqlite3</string>
			</array>
			<key>Frameworks</key>
			<array>
				<string>UIKit</string>
				<string>MobileCoreServices</string>
				<string>Foundation</string>
				<string>CoreGraphics</string>
				<string>Security</string>
				<string>SystemConfiguration</string>
			</array>
		</dict>
		<key>As</key>
		<dict>
			<key>Flags</key>
			<array>
				<string>FLAG_UMANALYTICS</string>
				<string>FLAG_UMSOCIAL</string>
				<string>FLAG_I4</string>
			</array>
			<key>ThirdAppID</key>
			<string>306</string>
			<key>ThirdAppKey</key>
			<string>a29589978a37447d98082f7c4edf5d89</string>
			<key>ChannelID</key>
			<string>3050</string>
			<key>PlistFile</key>
			<string>InfoPlist/InfoAs.plist</string>
			<key>iOSCodeSign</key>
			<string>iPhone Developer: guangyu hou (D652W35HCX)</string>
			<key>MediaChannel</key>
			<string>1011412002</string>
			<key>UpdateAppUrl</key>
			<string>itms-services://?action=download-manifest&amp;url=https://download.cy.com/tlbb3d/iOS_AS.plist</string>
			<key>ServerListUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/conf/serverlist/iOS_i4_IPList.txt</string>
			<key>ResDownloadUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/res/iOS/TY</string>
			<key>GengxinUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/conf/notice/gengxin/iOS_As_Notice.txt</string>
			<key>IconFolder</key>
			<string>i4</string>
			<key>OtherLDFlags</key>
			<array>
				<string>-ObjC</string>
			</array>
			<key>SDKs</key>
			<array>
				<string>Umeng</string>
				<string>CYSDKHelper</string>
				<string>CYSDK_AS</string>
			</array>
			<key>dylibs</key>
			<array>
				<string>libsqlite3</string>
				<string>libMobileGestalt</string>
			</array>
			<key>Frameworks</key>
			<array>
				<string>MobileCoreServices</string>
				<string>CoreTelephony</string>
				<string>Foundation</string>
				<string>UIKit</string>
				<string>CoreGraphics</string>
				<string>AVFoundation</string>
				<string>AudioToolbox</string>
				<string>AdSupport</string>
				<string>Security</string>
				<string>CFNetwork</string>
				<string>SystemConfiguration</string>
				<string>MediaPlayer</string>
			</array>
		</dict>
		<key>AppStore</key>
		<dict>
			<key>Flags</key>
			<array>
				<string>FLAG_MOMOCENTER</string>
				<string>FLAG_UMANALYTICS</string>
				<string>FLAG_TALKINGDATA</string>
				<string>FLAG_INMOBI</string>
				<string>FLAG_GOOGLETRACK</string>
			</array>
			<key>TalkingDataKey</key>
			<string>da2a29dd22f441eba0277f713cb8490e</string>
			<key>TalkingDataChannel</key>
			<string>AppStore</string>
			<key>ThirdAppID</key>
			<string>ex_tlbb_2YiL29Yw</string>
			<key>ThirdAppKey</key>
			<string>241087EB-5DDE-F679-A300-1AED328A24ED</string>
			<key>ChannelID</key>
			<string>2001</string>
			<key>PlistFile</key>
			<string>InfoPlist/InfoAppStore.plist</string>
			<key>iOSCodeSign</key>
			<string>iPhone Developer: Wang Qi (U7ND834BRV)</string>
			<key>MediaChannel</key>
			<string>1010031002</string>
			<key>ServerListUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/conf/serverlist/iOS_AppStore_IPList.txt</string>
			<key>UpdateAppUrl</key>
			<string>https://itunes.apple.com/cn/app/tian-long-ba-bu3d/id824104400?l=zh&amp;ls=1&amp;mt=8</string>
			<key>AppDetailURL</key>
			<string>https://itunes.apple.com/cn/app/tian-long-ba-bu3d/id824104400?l=zh&amp;ls=1&amp;mt=8</string>
			<key>ResDownloadUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/res/iOS/AppStore</string>
			<key>GengxinUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/conf/notice/gengxin/iOS_AppStore_Notice.txt</string>
			<key>IconFolder</key>
			<string>Normal</string>
			<key>SettingFlags</key>
			<dict>
				<key>ARCHS</key>
				<string>armv7 arm64</string>
				<key>VALID_ARCHS</key>
				<string>armv7 armv7s arm64</string>
			</dict>
			<key>OtherLDFlags</key>
			<array>
				<string>-ObjC</string>
			</array>
			<key>SDKs</key>
			<array>
				<string>iAD</string>
				<string>Umeng_Analytics</string>
				<string>CYSDK_APPMOMO</string>
				<string>CYSDKHelper</string>
				<string>TalkingData</string>
			</array>
			<key>dylibs</key>
			<array>
				<string>libiconv</string>
				<string>libsqlite3.0</string>
				<string>libz</string>
				<string>libstdc++</string>
				<string>libz.1.2.5</string>
			</array>
			<key>Frameworks</key>
			<array>
				<string>ImageIO</string>
				<string>MapKit</string>
				<string>AssetsLibrary</string>
				<string>AdSupport</string>
				<string>Security</string>
				<string>MobileCoreServices</string>
				<string>CFNetwork</string>
				<string>SystemConfiguration</string>
				<string>MediaPlayer</string>
				<string>CoreTelephony</string>
				<string>EventKit</string>
				<string>EventKitUI</string>
			</array>
		</dict>
		<key>IOSTest</key>
		<dict>
			<key>Flags</key>
			<array>
				<string>FLAG_UMSOCIAL</string>
				<string>FLAG_UMANALYTICS</string>
				<string>FLAG_CYSCHEME</string>
			</array>
			<key>ChannelID</key>
			<string>4001</string>
			<key>PlistFile</key>
			<string>InfoPlist/InfoNormal.plist</string>
			<key>iOSCodeSign</key>
			<string>iPhone Developer: guangyu hou (D652W35HCX)</string>
			<key>MediaChannel</key>
			<string>1010031002</string>
			<key>ServerListUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/conf/serverlist/iOS_Test_IPList.txt</string>
			<key>UpdateAppUrl</key>
			<string>itms-services://?action=download-manifest&amp;url=https://download.cy.com/tlbb3d/iOS_test.plist</string>
			<key>AppDetailURL</key>
			<string>https://itunes.apple.com/cn/app/tian-long-ba-bu3d/id824104400?l=zh&amp;ls=1&amp;mt=8</string>
			<key>ResDownloadUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/res/iOS/YY</string>
			<key>GengxinUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/conf/notice/gengxin/iOS_IOSTest_Notice.txt</string>
			<key>CyUrlScheme</key>
			<string>cy-com.cyou.cx.mldj</string>
			<key>IconFolder</key>
			<string>Normal</string>
			<key>OtherLDFlags</key>
			<array>
				<string>-ObjC</string>
			</array>
			<key>SDKs</key>
			<array>
				<string>Umeng</string>
				<string>CYSDKHelper</string>
				<string>CYSDK</string>
			</array>
			<key>dylibs</key>
			<array>
				<string>libiconv</string>
				<string>libsqlite3.0</string>
				<string>libz</string>
				<string>libstdc++</string>
				<string>libz.1.2.5</string>
			</array>
			<key>Frameworks</key>
			<array>
				<string>AdSupport</string>
				<string>Security</string>
				<string>MobileCoreServices</string>
				<string>CFNetwork</string>
				<string>SystemConfiguration</string>
				<string>MediaPlayer</string>
				<string>CoreTelephony</string>
			</array>
		</dict>
		<key>TY</key>
		<dict>
			<key>Flags</key>
			<array>
				<string>FLAG_UMANALYTICS</string>
				<string>FLAG_UMSOCIAL</string>
				<string>FLAG_TALKINGDATA</string>
				<string>FLAG_CYSCHEME</string>
			</array>
			<key>TalkingDataKey</key>
			<string>b69ada70288b42c29be64c2cb82e68f3</string>
			<key>TalkingDataChannel</key>
			<string>TLBB3D_iosty</string>
			<key>ThirdAppID</key>
			<string>ex_tlbb_2YiL29Yw</string>
			<key>ThirdAppKey</key>
			<string>241087EB-5DDE-F679-A300-1AED328A24ED</string>
			<key>ChannelID</key>
			<string>4001</string>
			<key>PlistFile</key>
			<string>InfoPlist/InfoTY.plist</string>
			<key>iOSCodeSign</key>
			<string>iPhone Developer: guangyu hou (D652W35HCX)</string>
			<key>MediaChannel</key>
			<string>1010051002</string>
			<key>UpdateAppUrl</key>
			<string>itms-services://?action=download-manifest&amp;url=https://download.cy.com/tlbb3d/iOS_TY.plist</string>
			<key>ServerListUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/conf/serverlist/iOS_TY_IPList.txt</string>
			<key>ResDownloadUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/res/iOS/TY</string>
			<key>GengxinUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/conf/notice/gengxin/iOS_TY_Notice.txt</string>
			<key>CyUrlScheme</key>
			<string>cy-com.cyou.cx.mldj</string>
			<key>IconFolder</key>
			<string>Normal</string>
			<key>OtherLDFlags</key>
			<array>
				<string>-ObjC</string>
			</array>
			<key>SDKs</key>
			<array>
				<string>Umeng</string>
				<string>CYSDKHelper</string>
				<string>CYSDK</string>
				<string>TalkingData</string>
			</array>
			<key>dylibs</key>
			<array>
				<string>libiconv</string>
				<string>libsqlite3.0</string>
				<string>libz</string>
				<string>libstdc++</string>
				<string>libz.1.2.5</string>
			</array>
			<key>Frameworks</key>
			<array>
				<string>AdSupport</string>
				<string>Security</string>
				<string>MobileCoreServices</string>
				<string>CFNetwork</string>
				<string>SystemConfiguration</string>
				<string>MediaPlayer</string>
				<string>CoreTelephony</string>
			</array>
		</dict>
		<key>TY_XianFeng</key>
		<dict>
			<key>Flags</key>
			<array>
				<string>FLAG_UMANALYTICS</string>
				<string>FLAG_UMSOCIAL</string>
				<string>FLAG_TALKINGDATA</string>
				<string>FLAG_CYSCHEME</string>
			</array>
			<key>TalkingDataKey</key>
			<string>b69ada70288b42c29be64c2cb82e68f3</string>
			<key>TalkingDataChannel</key>
			<string>TLBB3D_iosxianfeng</string>
			<key>ChannelID</key>
			<string>4001</string>
			<key>PlistFile</key>
			<string>InfoPlist/InfoXianFeng.plist</string>
			<key>iOSCodeSign</key>
			<string>iPhone Developer: guangyu hou (D652W35HCX)</string>
			<key>MediaChannel</key>
			<string>1010051003</string>
			<key>UpdateAppUrl</key>
			<string>itms-services://?action=download-manifest&amp;url=https://download.cy.com/tlbb3d/iOS_XianFeng_TY.plist</string>
			<key>ServerListUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/conf/serverlist/iOS_XianFeng_IPList.txt</string>
			<key>ResDownloadUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/res/iOS/XianFeng</string>
			<key>GengxinUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/conf/notice/gengxin/iOS_XianFeng_Notice.txt</string>
			<key>CyUrlScheme</key>
			<string>cy-com.cyou.cx.mtlbb.xianfeng</string>
			<key>IconFolder</key>
			<string>Normal</string>
			<key>OtherLDFlags</key>
			<array>
				<string>-ObjC</string>
			</array>
			<key>SDKs</key>
			<array>
				<string>Umeng</string>
				<string>CYSDKHelper</string>
				<string>CYSDK</string>
				<string>TalkingData</string>
			</array>
			<key>dylibs</key>
			<array>
				<string>libiconv</string>
				<string>libsqlite3.0</string>
				<string>libz</string>
				<string>libstdc++</string>
				<string>libz.1.2.5</string>
			</array>
			<key>Frameworks</key>
			<array>
				<string>AdSupport</string>
				<string>Security</string>
				<string>MobileCoreServices</string>
				<string>CFNetwork</string>
				<string>SystemConfiguration</string>
				<string>MediaPlayer</string>
				<string>CoreTelephony</string>
			</array>
		</dict>
		<key>TY_PingGuoYuan</key>
		<dict>
			<key>Flags</key>
			<array>
				<string>FLAG_UMSOCIAL</string>
				<string>FLAG_UMANALYTICS</string>
				<string>FLAG_CYSCHEME</string>
			</array>
			<key>ChannelID</key>
			<string>4001</string>
			<key>PlistFile</key>
			<string>InfoPlist/InfoTY.plist</string>
			<key>iOSCodeSign</key>
			<string>iPhone Developer: guangyu hou (D652W35HCX)</string>
			<key>MediaChannel</key>
			<string>1011032002</string>
			<key>UpdateAppUrl</key>
			<string>itms-services://?action=download-manifest&amp;url=https://download.cy.com/tlbb3d/iOS_PingGuoYuan_TY.plist</string>
			<key>ServerListUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/conf/serverlist/iOS_TY_IPList.txt</string>
			<key>ResDownloadUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/res/iOS/TY</string>
			<key>GengxinUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/conf/notice/gengxin/iOS_TY_Notice.txt</string>
			<key>CyUrlScheme</key>
			<string>cy-com.cyou.cx.mldj</string>
			<key>IconFolder</key>
			<string>Normal</string>
			<key>OtherLDFlags</key>
			<array>
				<string>-ObjC</string>
			</array>
			<key>SDKs</key>
			<array>
				<string>Umeng</string>
				<string>CYSDKHelper</string>
				<string>CYSDK</string>
			</array>
			<key>dylibs</key>
			<array>
				<string>libiconv</string>
				<string>libsqlite3.0</string>
				<string>libz</string>
				<string>libstdc++</string>
				<string>libz.1.2.5</string>
			</array>
			<key>Frameworks</key>
			<array>
				<string>AdSupport</string>
				<string>Security</string>
				<string>MobileCoreServices</string>
				<string>CFNetwork</string>
				<string>SystemConfiguration</string>
				<string>MediaPlayer</string>
				<string>CoreTelephony</string>
			</array>
		</dict>
		<key>TY_91Desk</key>
		<dict>
			<key>Flags</key>
			<array>
				<string>FLAG_UMSOCIAL</string>
				<string>FLAG_UMANALYTICS</string>
				<string>FLAG_CYSCHEME</string>
			</array>
			<key>ChannelID</key>
			<string>4001</string>
			<key>PlistFile</key>
			<string>InfoPlist/InfoTY.plist</string>
			<key>iOSCodeSign</key>
			<string>iPhone Developer: guangyu hou (D652W35HCX)</string>
			<key>MediaChannel</key>
			<string>1012732002</string>
			<key>UpdateAppUrl</key>
			<string>itms-services://?action=download-manifest&amp;url=https://download.cy.com/tlbb3d/iOS_91Desk_TY.plist</string>
			<key>ServerListUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/conf/serverlist/iOS_TY_IPList.txt</string>
			<key>ResDownloadUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/res/iOS/TY</string>
			<key>GengxinUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/conf/notice/gengxin/iOS_TY_Notice.txt</string>
			<key>CyUrlScheme</key>
			<string>cy-com.cyou.cx.mldj</string>
			<key>IconFolder</key>
			<string>Normal</string>
			<key>OtherLDFlags</key>
			<array>
				<string>-ObjC</string>
			</array>
			<key>SDKs</key>
			<array>
				<string>Umeng</string>
				<string>CYSDKHelper</string>
				<string>CYSDK</string>
			</array>
			<key>dylibs</key>
			<array>
				<string>libiconv</string>
				<string>libsqlite3.0</string>
				<string>libz</string>
				<string>libstdc++</string>
				<string>libz.1.2.5</string>
			</array>
			<key>Frameworks</key>
			<array>
				<string>AdSupport</string>
				<string>Security</string>
				<string>MobileCoreServices</string>
				<string>CFNetwork</string>
				<string>SystemConfiguration</string>
				<string>MediaPlayer</string>
				<string>CoreTelephony</string>
			</array>
		</dict>
		<key>TongBu</key>
		<dict>
			<key>Flags</key>
			<array>
				<string>FLAG_UMSOCIAL</string>
				<string>FLAG_UMANALYTICS</string>
			</array>
			<key>ThirdAppID</key>
			<string>140720</string>
			<key>ThirdAppKey</key>
			<string>odLAYN9xHUrh5EbQo1LANk8x0Ur5tEbo</string>
			<key>ChannelID</key>
			<string>3009</string>
			<key>PlistFile</key>
			<string>InfoPlist/InfoTongBu.plist</string>
			<key>iOSCodeSign</key>
			<string>iPhone Developer: guangyu hou (D652W35HCX)</string>
			<key>MediaChannel</key>
			<string>1010141003</string>
			<key>UpdateAppUrl</key>
			<string>itms-services://?action=download-manifest&amp;url=https://download.cy.com/tlbb3d/iOS_TongBu.plist</string>
			<key>ServerListUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/conf/serverlist/iOS_TongBu_IPList.txt</string>
			<key>ResDownloadUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/res/iOS/TY</string>
			<key>GengxinUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/conf/notice/gengxin/iOS_TongBu_Notice.txt</string>
			<key>IconFolder</key>
			<string>TongBu</string>
			<key>OtherLDFlags</key>
			<array>
				<string>-ObjC</string>
			</array>
			<key>SDKs</key>
			<array>
				<string>Umeng</string>
				<string>CYSDKHelper</string>
				<string>CYSDK_TongBu</string>
			</array>
			<key>dylibs</key>
			<array>
				<string>libiconv</string>
				<string>libsqlite3.0</string>
				<string>libz</string>
				<string>libstdc++</string>
				<string>libz.1.2.5</string>
			</array>
			<key>Frameworks</key>
			<array>
				<string>AdSupport</string>
				<string>Security</string>
				<string>MobileCoreServices</string>
				<string>CFNetwork</string>
				<string>SystemConfiguration</string>
				<string>MediaPlayer</string>
				<string>CoreTelephony</string>
			</array>
			<key>compiler_flags</key>
			<dict>
				<key>-fobjc-arc</key>
				<array>
					<string>base64.m</string>
				</array>
			</dict>
		</dict>
		<key>91</key>
		<dict>
			<key>Flags</key>
			<array>
				<string>FLAG_UMSOCIAL</string>
				<string>FLAG_UMANALYTICS</string>
				<string>FLAG_91</string>
			</array>
			<key>ThirdAppID</key>
			<string>115234</string>
			<key>ThirdAppKey</key>
			<string>09403a2c22ec4f1a74278d8b177246f3aacf8848da8888d4</string>
			<key>ChannelID</key>
			<string>3006</string>
			<key>PlistFile</key>
			<string>InfoPlist/Info91.plist</string>
			<key>iOSCodeSign</key>
			<string>iPhone Developer: guangyu hou (D652W35HCX)</string>
			<key>MediaChannel</key>
			<string>1010081003</string>
			<key>UpdateAppUrl</key>
			<string>itms-services://?action=download-manifest&amp;url=https://download.cy.com/tlbb3d/iOS_91.plist</string>
			<key>ServerListUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/conf/serverlist/iOS_91_IPList.txt</string>
			<key>ResDownloadUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/res/iOS/TY</string>
			<key>GengxinUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/conf/notice/gengxin/iOS_91_Notice.txt</string>
			<key>IconFolder</key>
			<string>91</string>
			<key>OtherLDFlags</key>
			<array>
				<string>-ObjC</string>
			</array>
			<key>SDKs</key>
			<array>
				<string>Umeng</string>
				<string>CYSDKHelper</string>
				<string>CYSDK_91</string>
			</array>
			<key>dylibs</key>
			<array>
				<string>libiconv</string>
				<string>libsqlite3.0</string>
				<string>libz</string>
				<string>libstdc++</string>
				<string>libz.1.2.5</string>
			</array>
			<key>Frameworks</key>
			<array>
				<string>AssetsLibrary</string>
				<string>MessageUI</string>
				<string>AddressBook</string>
				<string>AdSupport</string>
				<string>Security</string>
				<string>MobileCoreServices</string>
				<string>CFNetwork</string>
				<string>SystemConfiguration</string>
				<string>MediaPlayer</string>
				<string>CoreTelephony</string>
			</array>
		</dict>
		<key>91Exp</key>
		<dict>
			<key>Flags</key>
			<array>
				<string>FLAG_UMSOCIAL</string>
				<string>FLAG_UMANALYTICS</string>
				<string>FLAG_91</string>
			</array>
			<key>ThirdAppID</key>
			<string>116501</string>
			<key>ThirdAppKey</key>
			<string>ff62a6c1eef0a899762b79a5d2a9756fcf0643bbcbfd1e77</string>
			<key>ChannelID</key>
			<string>3006</string>
			<key>PlistFile</key>
			<string>InfoPlist/Info91Exp.plist</string>
			<key>iOSCodeSign</key>
			<string>iPhone Developer: guangyu hou (D652W35HCX)</string>
			<key>MediaChannel</key>
			<string>1010081004</string>
			<key>UpdateAppUrl</key>
			<string>itms-services://?action=download-manifest&amp;url=https://download.cy.com/tlbb3d/iOS_91Exp.plist</string>
			<key>ServerListUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/conf/serverlist/iOS_91_IPList.txt</string>
			<key>ResDownloadUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/res/iOS/TY</string>
			<key>GengxinUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/conf/notice/gengxin/iOS_91_Notice.txt</string>
			<key>IconFolder</key>
			<string>91Exp</string>
			<key>OtherLDFlags</key>
			<array>
				<string>-ObjC</string>
			</array>
			<key>SDKs</key>
			<array>
				<string>Umeng</string>
				<string>CYSDKHelper</string>
				<string>CYSDK_91</string>
			</array>
			<key>dylibs</key>
			<array>
				<string>libiconv</string>
				<string>libsqlite3.0</string>
				<string>libz</string>
				<string>libstdc++</string>
				<string>libz.1.2.5</string>
			</array>
			<key>Frameworks</key>
			<array>
				<string>AssetsLibrary</string>
				<string>MessageUI</string>
				<string>AddressBook</string>
				<string>AdSupport</string>
				<string>Security</string>
				<string>MobileCoreServices</string>
				<string>CFNetwork</string>
				<string>SystemConfiguration</string>
				<string>MediaPlayer</string>
				<string>CoreTelephony</string>
			</array>
		</dict>
		<key>PP</key>
		<dict>
			<key>Flags</key>
			<array>
				<string>FLAG_UMSOCIAL</string>
				<string>FLAG_UMANALYTICS</string>
			</array>
			<key>ThirdAppID</key>
			<string>3907</string>
			<key>ThirdAppKey</key>
			<string>19d23a91ea4621712d7398d974a38a0a</string>
			<key>ChannelID</key>
			<string>3003</string>
			<key>PlistFile</key>
			<string>InfoPlist/InfoPP.plist</string>
			<key>iOSCodeSign</key>
			<string>iPhone Developer: guangyu hou (D652W35HCX)</string>
			<key>MediaChannel</key>
			<string>1010111003</string>
			<key>UpdateAppUrl</key>
			<string>itms-services://?action=download-manifest&amp;url=https://download.cy.com/tlbb3d/iOS_PP.plist</string>
			<key>ServerListUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/conf/serverlist/iOS_PP_IPList.txt</string>
			<key>ResDownloadUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/res/iOS/TY</string>
			<key>GengxinUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/conf/notice/gengxin/iOS_PP_Notice.txt</string>
			<key>IconFolder</key>
			<string>PP</string>
			<key>OtherLDFlags</key>
			<array>
				<string>-ObjC</string>
			</array>
			<key>SDKs</key>
			<array>
				<string>Umeng</string>
				<string>CYSDKHelper</string>
				<string>CYSDK_PP</string>
			</array>
			<key>dylibs</key>
			<array>
				<string>libMobileGestalt</string>
				<string>libsqlite3.0</string>
			</array>
			<key>Frameworks</key>
			<array>
				<string>AdSupport</string>
				<string>Security</string>
				<string>MobileCoreServices</string>
				<string>CFNetwork</string>
				<string>SystemConfiguration</string>
				<string>MediaPlayer</string>
				<string>CoreTelephony</string>
			</array>
		</dict>
		<key>KuaiYong</key>
		<dict>
			<key>Flags</key>
			<array>
				<string>FLAG_UMSOCIAL</string>
				<string>FLAG_UMANALYTICS</string>
				<string>FLAG_CYSCHEME</string>
			</array>
			<key>ThirdAppID</key>
			<string>5577</string>
			<key>ThirdAppKey</key>
			<string>RyPFkdgcP0LFkT7kaTOuSVunn4kEGEyx</string>
			<key>ChannelID</key>
			<string>3016</string>
			<key>PlistFile</key>
			<string>InfoPlist/InfoKuaiYong.plist</string>
			<key>iOSCodeSign</key>
			<string>iPhone Developer: guangyu hou (D652W35HCX)</string>
			<key>MediaChannel</key>
			<string>1010551003</string>
			<key>UpdateAppUrl</key>
			<string>itms-services://?action=download-manifest&amp;url=https://download.cy.com/tlbb3d/iOS_KuaiYong.plist</string>
			<key>ServerListUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/conf/serverlist/iOS_KuaiYong_IPList.txt</string>
			<key>ResDownloadUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/res/iOS/TY</string>
			<key>GengxinUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/conf/notice/gengxin/iOS_KuaiYong_Notice.txt</string>
			<key>CyUrlScheme</key>
			<string>cy-com.cyou.cx.mtlbb.kuaiyong</string>
			<key>IconFolder</key>
			<string>Normal</string>
			<key>OtherLDFlags</key>
			<array>
				<string>-ObjC</string>
			</array>
			<key>SDKs</key>
			<array>
				<string>Umeng</string>
				<string>CYSDKHelper</string>
				<string>CYSDK_KuaiYong</string>
			</array>
			<key>dylibs</key>
			<array>
				<string>libstdc++</string>
				<string>libz</string>
				<string>libsqlite3.0</string>
			</array>
			<key>Frameworks</key>
			<array>
				<string>AddressBook</string>
				<string>MobileCoreServices</string>
				<string>AddressBookUI</string>
				<string>Accelerate</string>
				<string>AdSupport</string>
				<string>Security</string>
				<string>CFNetwork</string>
				<string>SystemConfiguration</string>
				<string>CoreTelephony</string>
			</array>
		</dict>
		<key>iTools</key>
		<dict>
			<key>Flags</key>
			<array>
				<string>FLAG_UMANALYTICS</string>
			</array>
			<key>ThirdAppID</key>
			<string>559</string>
			<key>ThirdAppKey</key>
			<string>07DB90BEFD81E410A5F3FE8928F5904E</string>
			<key>ChannelID</key>
			<string>3018</string>
			<key>PlistFile</key>
			<string>InfoPlist/InfoiTools.plist</string>
			<key>iOSCodeSign</key>
			<string>iPhone Developer: guangyu hou (D652W35HCX)</string>
			<key>MediaChannel</key>
			<string>1011012002</string>
			<key>UpdateAppUrl</key>
			<string>itms-services://?action=download-manifest&amp;url=https://download.cy.com/tlbb3d/iOS_iTools.plist</string>
			<key>ServerListUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/conf/serverlist/iOS_iTools_IPList.txt</string>
			<key>ResDownloadUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/res/iOS/TY</string>
			<key>GengxinUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/conf/notice/gengxin/iOS_iTools_Notice.txt</string>
			<key>IconFolder</key>
			<string>iTools</string>
			<key>OtherLDFlags</key>
			<array>
				<string>-ObjC</string>
			</array>
			<key>SDKs</key>
			<array>
				<string>CYSDKHelper</string>
				<string>CYSDK_iTools</string>
				<string>Umeng_Analytics</string>
			</array>
			<key>dylibs</key>
			<array>
				<string>libsqlite3</string>
			</array>
			<key>Frameworks</key>
			<array>
				<string>MobileCoreServices</string>
				<string>CoreTelephony</string>
			</array>
		</dict>
		<key>iOS360</key>
		<dict>
			<key>Flags</key>
			<array>
				<string>FLAG_UMSOCIAL</string>
				<string>FLAG_UMANALYTICS</string>
				<string>FLAG_CYSCHEME</string>
			</array>
			<key>ThirdAppID</key>
			<string>0cc595b61a55885dbdb3ce3a9a7991d4</string>
			<key>ThirdAppKey</key>
			<string>6900d56a92f53075663a8db99773254f</string>
			<key>ChannelID</key>
			<string>3062</string>
			<key>PlistFile</key>
			<string>InfoPlist/Info360.plist</string>
			<key>iOSCodeSign</key>
			<string>iPhone Developer: guangyu hou (D652W35HCX)</string>
			<key>MediaChannel</key>
			<string>1012282002</string>
			<key>UpdateAppUrl</key>
			<string>itms-services://?action=download-manifest&amp;url=https://download.cy.com/tlbb3d/iOS_360.plist</string>
			<key>ServerListUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/conf/serverlist/iOS_360_IPList.txt</string>
			<key>ResDownloadUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/res/iOS/TY</string>
			<key>GengxinUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/conf/notice/gengxin/iOS_iOS360_Notice.txt</string>
			<key>CyUrlScheme</key>
			<string>cy-com.cyou.cx.mtlbb.ios360</string>
			<key>IconFolder</key>
			<string>360</string>
			<key>OtherLDFlags</key>
			<array>
				<string>-ObjC</string>
			</array>
			<key>SDKs</key>
			<array>
				<string>Umeng</string>
				<string>CYSDKHelper</string>
				<string>CYSDK_iOS360</string>
			</array>
			<key>dylibs</key>
			<array>
				<string>libsqlite3</string>
			</array>
			<key>Frameworks</key>
			<array>
				<string>MobileCoreServices</string>
				<string>CoreTelephony</string>
			</array>
		</dict>
		<key>Momo</key>
		<dict>
			<key>Flags</key>
			<array>
				<string>FLAG_UMANALYTICS</string>
				<string>FLAG_UMSOCIAL</string>
			</array>
			<key>ThirdAppID</key>
			<string>ex_tlbbjb_7LHMgL</string>
			<key>ThirdAppKey</key>
			<string>9AD83466-D2BA-81B4-093A-000CA1EEEA94</string>
			<key>ChannelID</key>
			<string>3075</string>
			<key>PlistFile</key>
			<string>InfoPlist/InfoMomo.plist</string>
			<key>iOSCodeSign</key>
			<string>iPhone Developer: guangyu hou (D652W35HCX)</string>
			<key>MediaChannel</key>
			<string>1012832002</string>
			<key>ServerListUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/conf/serverlist/iOS_Momo_IPList.txt</string>
			<key>UpdateAppUrl</key>
			<string>itms-services://?action=download-manifest&amp;url=https://download.cy.com/tlbb3d/iOS_Momo.plist</string>
			<key>ResDownloadUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/res/iOS/TY</string>
			<key>GengxinUrl</key>
			<string>http://mrd.changyou.com/tianlong3D/conf/notice/gengxin/iOS_Momo_Notice.txt</string>
			<key>IconFolder</key>
			<string>Momo</string>
			<key>OtherLDFlags</key>
			<array>
				<string>-ObjC</string>
			</array>
			<key>SDKs</key>
			<array>
				<string>Umeng</string>
				<string>CYSDKHelper</string>
				<string>CYSDK_MOMO</string>
			</array>
			<key>dylibs</key>
			<array>
				<string>libiconv</string>
				<string>libsqlite3.0</string>
				<string>libz</string>
				<string>libstdc++</string>
				<string>libz.1.2.5</string>
			</array>
			<key>Frameworks</key>
			<array>
				<string>MapKit</string>
				<string>AssetsLibrary</string>
				<string>AdSupport</string>
				<string>Security</string>
				<string>MobileCoreServices</string>
				<string>CFNetwork</string>
				<string>SystemConfiguration</string>
				<string>MediaPlayer</string>
				<string>CoreTelephony</string>
			</array>
		</dict>
		<key>AppStore_TW</key>
		<dict>
			<key>Flags</key>
			<array>
				<string>FLAG_UMANALYTICS</string>
				<string>FLAG_EFUN</string>
			</array>
			<key>cyAppKey</key>
			<string>1417421340507</string>
			<key>cyAppSecret</key>
			<string>14118205a7b0413e8b6ee9a9eb974d01</string>
			<key>ThirdAppID</key>
			<string>tlbb</string>
			<key>ThirdAppKey</key>
			<string>d7e3fa8a455a3914a42414353dcdad9b629eff4da48f7e4f</string>
			<key>ChannelID</key>
			<string>3072</string>
			<key>PlistFile</key>
			<string>InfoPlist/InfoeFun.plist</string>
			<key>iOSCodeSign</key>
			<string>iPhone Developer: SHUISHENG LAN (H8QS26YD9K)</string>
			<key>MediaChannel</key>
			<string>1010031002</string>
			<key>UpdateAppUrl</key>
			<string>https://itunes.apple.com/tw/app/efun-tian-long-ba-bu/id935550157?l=zh&amp;ls=1&amp;mt=8</string>
			<key>ServerListUrl</key>
			<string>0</string>
			<key>ResDownloadUrl</key>
			<string>http://tlbb.download.efuntw.com/tlbb/res/iOS/AppStoreTW</string>
			<key>GengxinUrl</key>
			<string>http://tlbb.download.efuntw.com/tlbb/conf/notice/gengxin/iOS_AppStore_TW_Notice.txt</string>
			<key>IconFolder</key>
			<string>efun</string>
			<key>CodeSighEntitlements</key>
			<string>prov/efun/EfunSDK.entitlements</string>
			<key>OtherLDFlags</key>
			<array>
				<string>-ObjC</string>
			</array>
			<key>SDKs</key>
			<array>
				<string>UMAnalytics</string>
				<string>CYSDK_eFun</string>
				<string>CYSDKHelper_eFun</string>
			</array>
			<key>dylibs</key>
			<array>
				<string>libsqlite3</string>
				<string>libz</string>
			</array>
			<key>Frameworks</key>
			<array>
				<string>MobileCoreServices</string>
				<string>CoreTelephony</string>
				<string>MessageUI</string>
				<string>EventKit</string>
				<string>EventKitUI</string>
				<string>StoreKit</string>
				<string>AdSupport</string>
				<string>Social</string>
				<string>Accounts</string>
				<string>Security</string>
				<string>CoreData</string>
				<string>AddressBook</string>
				<string>AssetsLibrary</string>
			</array>
		</dict>
		<key>AppStore_HK</key>
		<dict>
			<key>Flags</key>
			<array>
				<string>FLAG_UMANALYTICS</string>
				<string>FLAG_UMSOCIAL</string>
			</array>
			<key>cyAppKey</key>
			<string>1415677216086</string>
			<key>cyAppSecret</key>
			<string>87ce1e50391b41cc8f20ab7be211467b</string>
			<key>ThirdAppID</key>
			<string>tl3dhk</string>
			<key>ChannelID</key>
			<string>3077</string>
			<key>PlistFile</key>
			<string>InfoPlist/InfoAppStoreHK.plist</string>
			<key>iOSCodeSign</key>
			<string>iPhone Developer: James Lam (M3W9AW2PCG)</string>
			<key>MediaChannel</key>
			<string>1010031002</string>
			<key>ServerListUrl</key>
			<string>http://tl3dpatch.gameone.com/tianlong3DHK/conf/serverlist/iOS_AppStoreHK_IPList.txt</string>
			<key>UpdateAppUrl</key>
			<string>https://itunes.apple.com/hk/app/tian-long-ba-bu3d/id948626031?ls=1&amp;mt=8</string>
			<key>AppDetailURL</key>
			<string>https://itunes.apple.com/hk/app/tian-long-ba-bu3d/id948626031?ls=1&amp;mt=8</string>
			<key>ResDownloadUrl</key>
			<string>http://tl3dpatch.gameone.com/tianlong3DHK/res/iOS/AppStoreHK</string>
			<key>GengxinUrl</key>
			<string>http://tl3dpatch.gameone.com/tianlong3DHK/conf/notice/gengxin/iOS_AppStore_HK_Notice.txt</string>
			<key>IconFolder</key>
			<string>HK</string>
			<key>OtherLDFlags</key>
			<array>
				<string>-ObjC</string>
			</array>
			<key>SDKs</key>
			<array>
				<string>Umeng</string>
				<string>CYSDK_APPHK</string>
				<string>CYSDKHelper</string>
			</array>
			<key>dylibs</key>
			<array>
				<string>libiconv</string>
				<string>libsqlite3.0</string>
				<string>libz</string>
				<string>libstdc++</string>
				<string>libz.1.2.5</string>
			</array>
			<key>Frameworks</key>
			<array>
				<string>MapKit</string>
				<string>AssetsLibrary</string>
				<string>AdSupport</string>
				<string>Security</string>
				<string>MobileCoreServices</string>
				<string>CFNetwork</string>
				<string>SystemConfiguration</string>
				<string>MediaPlayer</string>
				<string>CoreTelephony</string>
				<string>EventKit</string>
				<string>EventKitUI</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
